<!DOCTYPE html>
<html lang="en">
{%load static%}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home_login.css' %}">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style="background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);  /* Chrome 10-25, Safari 5.1-6 */
 background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <div class="demo">
        <div class="login">
            <div class="login__form" style="  text-align: inherit; font-size: 10px; font-weight:900; font-style: oblique;">
                <form action="" method='POST'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value = "Get Updates!" class="login__submit">
                </form>
            </div>
        </div>   
    </div>
    
</body>
</html>
